node_modules
.DS_Store
dist
dist-ssr
# Env files
.env
*.local

yarn-error.log*
.pnpm-debug.log*

# TS
*.tsbuildinfo

# Turbo
.turbo

stats.*

# Test
coverage/
.tanstack/

**/10x/*

plans/

.freebuff/
